body {
  font-family: 'Arial', sans-serif; /* Измените шрифт на ваш выбор */
  background-color: #f0f0f0; /* Измените цвет фона на ваш выбор */
  color: #333; /* Измените цвет текста на ваш выбор */
  font-weight: 600;
}

.product-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.product-item {
  list-style: none;
  margin-bottom: 20px;
  width: calc(25% - 20px); /* Вычисляем ширину для 4 категорий на экране */
  border-color: #333;
  border-radius: 20px;
  border: 1px solid gray;
  height: 300px;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  margin-right: 10px;
  background-color: #fff;
  font-family: 'Arial', sans-serif; /* Измените шрифт на ваш выбор */
  color: #333; /* Измените цвет текста на ваш выбор */
  font-weight: 600;
  font-size: 14px;
  overflow: hidden; /* Добавлено для предотвращения переполнения */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-item img {
  padding-top: 10px;
  max-width: 100%;
  height: 150px; /* Устанавливаем фиксированную высоту для изображений */
  object-fit: cover; /* Позволяет изображениям сохранять пропорции и обрезать, чтобы заполнить заданные размеры */
  border-radius: 5px;
}

.product-item span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: #333;
}

.product-item .price {
  font-family: 'Arial', sans-serif; /* Измените шрифт на ваш выбор */
  color: #333; /* Измените цвет текста на ваш выбор */
  font-weight: 600;
  font-size: 14px;
  margin-top: auto;
  padding-bottom: 50px; /* Добавляем отступ снизу для цены */
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 767px) {
  .product-item {
    width: calc(50% - 20px); /* Вычисляем ширину для 2 категорий на мобильных устройствах */
  }
}
