/* productList.css */

body {
  font-family: 'Arial', sans-serif; /* Измените шрифт на ваш выбор */
  background-color: #f0f0f0; /* Измените цвет фона на ваш выбор */
  color: #333; /* Измените цвет текста на ваш выбор */
  font-weight: 600;

}

.product-list {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  }
  
  .product-item {
    list-style: none;
    margin-bottom: 20px;
    width: calc(16.66% - 20px); /* Вычисляем ширину для 6 категорий на экране */
    border-color: #333;
    border-radius: 20px;
    border: 1px solid gray;
    height: 250px;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 10px;
    background-color: #fff;
    font-family: 'Arial', sans-serif; /* Измените шрифт на ваш выбор */
    color: #333; /* Измените цвет текста на ваш выбор */
    font-weight: 600;
    font-size: 14px;
  }
  
  .product-item img {
    padding-top: 10px;
    max-width: 100%;
    max-height: 100%; /* Устанавливаем фиксированную высоту для изображений */
    object-fit: cover; /* Позволяет изображениям сохранять пропорции и обрезать, чтобы заполнить заданные размеры */
    border-radius: 5px;
  }
  
  .product-item span {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #333;
  }
  
  /* Медиа-запрос для мобильных устройств */
  @media screen and (max-width: 767px) {
    .product-item {
      width: calc(50% - 20px); /* Вычисляем ширину для 2 категорий на мобильных устройствах */
    }
  }
  